@font-face {
    font-family: '.';
    src: url('b58bd52e0d1fad757e30c13e07de7676.woff2') format('woff2'),
        url('b58bd52e0d1fad757e30c13e07de7676.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sofa_sansblack';
    src: url('sofa_sansblack.woff2') format('woff2'),
        url('sofa_sansblack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('2ecdf5892fbd88a88c32c99435207aed.woff2') format('woff2'),
        url('2ecdf5892fbd88a88c32c99435207aed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('b074adcea1c51f1294b4ce15a9501721.woff2') format('woff2'),
        url('b074adcea1c51f1294b4ce15a9501721.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

