*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'isidora_softlight';
    src: url('fonts/IsidoraSoft/isidora_softlight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sofa_sansblack';
    src: url('fonts/SofaSans/sofa_sansblack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.container>div {
    /* border: 2px solid red; */
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    align-content: start;
    grid-template-rows: auto auto auto ;
    grid-template-areas:
        "header"
        "nav"
        "misc";
    gap: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'sofa_sansblack', Arial, Helvetica, sans-serif;
    background-color: rgb(77, 178, 240);
}

.sidebar-title {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    font-size: 2em;
    align-items: center;
}

.nav>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;

    &>li {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 15px;
        margin-left: 10px;
        align-items: center;
        font-size: 1.3em;
    }
}

.misc>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;

    &>li {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 15px;
        margin-left: 10px;
        align-items: center;
        font-size: 1.3em;
    }
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    text-shadow: 2px 2px 2px black;
    transform: translate(2px 2px 2px);
}

li {
    list-style-type: none;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: auto auto;
    padding: 15px 30px;
    min-height: 25%;
    max-height: 30%;

    &>.header-upper {
        grid-row: 1 / 2;
    }

    &>.header-lower {
        grid-row: 2 / 3;
    }

    /* &>* { */
    /* border: 1px solid red; */
    /* } */
}

.header-upper,
.header-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-upper .searchbar {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    max-width: 60%;
    gap: 20px;

    & input {
        width: 100%;
        border-radius: 15px;
        background-color: rgb(221, 221, 221);
        border: none;

        &:hover {
            border: 2px solid red;
        }
    }
}

.header-upper .misc {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;

    & img {
        border-radius: 100%;

        &:hover {
            transform: scale(150%) rotate(10deg);
        }
    }

    & p {
        font-family: "sofa_sansblack";
        font-size: 1.3em;
    }
}

.header-lower .icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
    place-items: center;
    font-family: "sofa_sansblack";
    flex-shrink: 0;

    & img {
        width: 70px;
        border-radius: 100%;
    }

    & .hi {
        font-size: 1em;
    }

    & .name {
        font-size: 1.7em;
    }
}

.header-lower .option {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: "sofa_sansblack";
    place-items: center;

    & button {
        border-radius: 50px;
        border: none;
        background-color: rgb(77, 178, 240);
        font-size: 1.5em;
        font-family: inherit;
        padding: 0.3em 1em;

        &:hover {
            border: 2px solid red;
            box-shadow: 2px 2px 2px black;
            cursor: pointer;
        }
    }
}


.main {
    grid-area: main;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "project announcement"
        "project trending";
    padding: 20px 20px;
    background-color: rgb(196, 196, 196);
    gap: 20px;
}

.main .projects {
    grid-area: project;
    display: grid;

    & .project-header {
        font-size: 1.5em;
        font-family: "sofa_sansblack";
        margin-bottom: 10px;
    }

    & .project-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
        gap: 20px;

        & .card {
            height: 10em;
            border: 1px solid red;
            border-radius: 15px;
        }
    }
}

.project-container .card {
    font-family: "sofa_sansblack";
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    background-color: white;
    box-shadow: 5px 5px 0 gold;

    & .project-name {
        grid-row: 1 / 2;
    }

    & .project-description {
        grid-row: 2 / 5;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 0;
        overflow: auto;
        min-height: 0;
    }

    & .icons {
        grid-row: 5 / 6;
        justify-self: end;
        align-self: end;

        & a img:hover {
            transform: rotate(15deg) scale(115%);
        }
    }
}

.main .announcement {
    grid-area: announcement;
    display: flex;
    flex-direction: column;

    & .announcement-header p {
        font-family: "sofa_sansblack";
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    & .card {
        border: 1px solid red;
        border-radius: 15px;
        background-color: white;
        min-height: 20em;
        max-height: 25em;
        padding: 10px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;

        & .announcement-title {
            padding-top: 10px;
            font-family: "sofa_sansblack";
        }

        & .announcement-description {
            overflow: auto;
        }
    }
}

.main .trending {
    grid-area: trending;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    & .trending-header p {
        font-family: "sofa_sansblack";
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    & .card {
        border: 1px solid red;
        border-radius: 15px;
        min-height: 20em;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-auto-flow: row;
        min-height: 20em;
        max-height: 25em;
        overflow: auto;
    }
}

.account {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 10px 0px;

    img {
        grid-area: 1 / 1 / 3 / 2;
        border-radius: 100%;
        height: 50px;
    }

    & .account-name {
        grid-area: 1 / 2 / 2 / 3;
        font-family: "sofa_sansblack";
    }

    & .account-description {
        grid-area: 2 / 2 / 3 / 3;
        min-height: 0;
        overflow: auto;
    }
}