*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 4fr;
    grid-template-areas: "controller board";
    padding: 20px;
    background-image: url("images/digital-art-style-abstract-chess-pieces.jpg");
    background-size: 100%;

}

.left {
    grid-area: controller;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* border: 1px solid red; */
}

.display {
    display: grid;
    grid-template-rows: auto 5fr auto;
    grid-template-areas: "head" "body" "control";
    min-height: 80%;
    min-width: 80%;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid;
    /* border: 1px solid red; */
    background-color: burlywood;
}

.display .header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: head;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 50px;
    border-bottom: 1px solid black;
}

.display .body {
    grid-area: body;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    /* align-items: center; */
    /* border: 1px solid red; */

    & .player {
        /* border: 1px solid red; */
        flex: 1 1 0;
        display: flex;

        & p {
            font-size: 20px;
            font-weight: 900;
            font-family: fantasy;
        }
    }
}

.display .controls {
    grid-area: control;
    display: flex;
    justify-content: center;
    gap: 20px;

    & button {
        color: white;
        padding: 5px 10px;
        background-color: brown;
        border: none;
        border-radius: 25px;
        font-size: 20px;

        &:hover {
            cursor: pointer;
            border: 1px solid red;
            box-shadow: 1px 1px 1px white;
            transform: translateX(2px) scale(110%);
        }
    }
}

.player-score {
    font-size: 3em;
    padding-left: 20px;
}

.right {
    grid-area: board;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    height: 90vh;
}

.gameboard {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 20px;
    width: min(90vh, 100%);
    aspect-ratio: 1;
}

.box {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
}

.p1-x {
    background-color: red;

    &::after {
        content: "X";
        color: white;
        font-size: 200%;
    }
}

.p2-o {
    background-color: green;

    &::after {
        content: "O";
        color: white;
        font-size: 200%;
    }
}

.highlight {
    color: red;
    font-family: 2000;
    text-shadow: 1px 0px 1px red;
}
